html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  
  background-color: black;
  color: white;
}

main {
  padding: 15px;
}

.white-mode {
  background-color: white;
  color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

.title {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 0;
}

.subtitle {
  margin-bottom: 0;
  font-weight: normal;
  font-size: large;
}

* {
  box-sizing: border-box;
}

.container {
  padding-top: 4%;
  padding-left: 30%;
  padding-right: 30%;
}

nav {
  padding-top: 5%;
  padding-bottom: 5%;
}

.nav-item {
  margin-right: 25px;
  transition: color .5s;
}

.nav-item:hover {
  color: #3f5473;
}

.underline {
  text-decoration: underline;
}

.box {
  margin-right: 0;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  padding: 25px 20px 25px 20px;
  width: 600px;
  min-height: 120px;
  border: 1px solid #1E2837;
  border-radius: 10px;
  transition: all .3s 
}

.box:hover {
  transform: scale(1.03);
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #516c94;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #364863;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.animationUp1 {
  opacity: 0;
  animation: fadeInUp;
  animation-duration: 1s;
  animation-delay: .1s;
  animation-fill-mode: forwards;
}
.animationUp2 {
  opacity: 0;
  animation: fadeInUp;
  animation-duration: 1s;
  animation-delay: .2s;
  animation-fill-mode: forwards;
}
.animationUp3 {
  opacity: 0;
  animation: fadeInUp;
  animation-duration: 1s;
  animation-delay: .3s;
  animation-fill-mode: forwards;
}
.animationUp4 {
  opacity: 0;
  animation: fadeInUp;
  animation-duration: 1s;
  animation-delay: .4s;
  animation-fill-mode: forwards;
}


li > * {
  vertical-align: text-top;
}